# PostgreSQL Database URL para tu backend / ORM
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/manoamano_db?schema=public"

# Variables individuales de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=manoamano_db
